build/
dist/
games/
src/tombola_manager/__pycache__/
src/tombola_manager/__pycache__/control_window.cpython-313.pyc
src/tombola_manager/__pycache__/main_window.cpython-313.pyc
src/tombola_manager/__pycache__/tombola_game.cpython-313.pyc
src/tombola_manager/__pycache__/view_window.cpython-313.pyc
src/tombolamanager.egg-info/dependency_links.txt
src/tombolamanager.egg-info/PKG-INFO
src/tombolamanager.egg-info/requires.txt
src/tombolamanager.egg-info/SOURCES.txt
src/tombolamanager.egg-info/top_level.txt
Tombola Manager.spec
